{% extends 'base.html'%}
{% block content%}
<form action="" method="POST">
    {% csrf_token %}
<div class="row my-4"> <!-- my means margin in y direction ||y  mt, mr, ml , mb-->
    <div class="col-6">
        <textarea        
        class="form-control"
        name="text"
        placeholder="Content to emojize"
        required></textarea>

</div>    
    <div class="col-6 bg-secondary text-white p-4"><!-- p means padding-->
<p>
        {{emojized_content}}
</p>
</div>

</div>
    <div class="row my-4">
        <div class="col-12">
            <button type="submit" class="btn btn-primary"> Submit ;D </button>
        </div>
    </div>


</form>
{% endblock%}